//= require ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap.scss

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,100italic,400italic,700,700italic,900,900italic);

// Import the fonts
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
       url('../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../bower_components/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

$font-lato: 'Lato', sans-serif;

body,
nav
{
	font-family: $font-lato;
	max-width: 600px;
	margin: 0 auto;
}
h3 
{
    color: #8CC63F;
    line-height: 1.2;
    font-weight: 300;
}
p 
{
    color: #999999;
    font-size: 1.2em;
    line-height: 1.8em;
    font-weight: 300;
}
.navbar-brand .logo
{
	max-width: 8em;
    margin-top: -6px;
}
.navbar-fixed-top
{
	position: absolute;
}
.sub-nav
{
	background: #292F34;	
	h5 {
	    font-weight: bold;
	    font-size: 11px;
	    margin-right: 15px;
	    color: #8CC63F;
	}
}
.back-home
{
	background: url(../img/slide4.jpg) no-repeat 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.overlay-back
{
	background: rgba(41,47,53,0.6);
}
.home-form 
{
	padding: 15% 0 15% 0;
	h1 {
		font-size: 40px;
		font-weight: 400;
		line-height: 0.85em;
		margin-bottom: 2em;
		margin-top: 2em;
		@media (max-width: 375px) {
			font-size: 20px;
    		line-height: 1.4em;
    		margin-top: 4em;
		}
	}
	h1 span {
		font-weight: 300;
		font-size: 30px;
		@media (max-width: 375px) {
			font-size: 20px;
		}
	}
	a.btn-lg {
		padding: 15px 30px;
		font-size: 23px;
		line-height: 1.33em;
	}
}
.btn-green 
{
    background: #8CC63F;
    text-shadow: 1px 1px 1px #999;
    &:hover,
    &:focus,
    &:active,
    .active {
    	background: #79AB36;
    	border-color: #79AB36;
    	color: #fff;
	}    
}
.btn 
{
    border-radius: 4px;
    border-color: #84B23B;
    font-weight: 300;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .20);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0, .20);
    box-shadow: 0px 0px 5px rgba(0,0,0, .20);
    transition: all 0.3s ease 0s;
    &:hover,
    &:focus,
    &:active,
    .active {
    	background: #79AB36;
    	border-color: #79AB36;
    	color: #fff;
	} 
}
.white
{
	color: #fff;
}
.etiqueta-valorizacion, 
.etiqueta-renta 
{
    position: absolute;
    top: 20px;
    color: #ffffff;
    background: #8DC63F;
    padding: 8px 8px 8px 8px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.data
{
	margin-bottom: 25px;
    box-shadow: 1px 1px 1px 1px #ccc;
    .title
    {
    	text-transform: uppercase;
	    color: #8CC63F;
	    letter-spacing: 0;
	    font-size: 1.2em;
	    margin: 0;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
    }
    .neighborhood
    {
	    font-size: 1.2em;
	    color: #999999;
	    margin: 0 0 10px 0;
	}
}
.datos-habit 
{
	padding-top: 10px;
	p.texto 
	{
	    font-size: 14px;
	    line-height: 1.1em;
	    padding-right: 10px;
	}
}
.datos-inversion {
    border-top: 1px solid #ccc;
    background-color: #F2F2F2;
  	padding: 5px 0 5px 0;
  	height: 60px;
    .numero 
    {
	    font-size: 1.2em;
	    color: #292F35;
	}
	.descrip-inver 
	{
	    font-size: 0.6em;
	    color: #B3B3B3;
	}
	.col-xs-12,
	.col-md-12
	.col-md-3
	{
		padding: 5px 0 5px 0;
		background-color: #F2F2F2;
	}
	@media (max-width: 991px) {
		height: 185px;
	}
}
.back-color2 
{
    background: #292F35;
}
.sub-footer p 
{
    color: #ffffff;
    font-weight: 300;
    font-size: 11px;
    line-height: 2em;
    font-weight: 300;
    opacity: 0.5;
    margin-top: 40px;
    margin-bottom: 40px;
}

